.circular {
  border-radius: 50%;
  width: 400px;
  max-width:100%;
  height: auto;
  overflow:hidden
}

.caption{
  color: #FFFFFF;
}

.button {
  font-size: 16px;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 6px 110px 6px 110px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

h1{
	font-size: 20px;
	color: #d88eff;
}

.descrip{
	color:white; 
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}