.filter-button{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:150px;
}

.center{
	margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.image{
  width: 375;
  height: 250;
/*	max-width:100%;
	max-height:100%;*/
}

.image:hover .opaque {
    opacity:0.5;
}

.image:hover .image-descrip {
    opacity:1;
}

.image-caption {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: white;
    padding-bottom: 25px;
}
.image-descrip {
    position:absolute;
    text-align:center;
    top:50px;
    width:90%;
    opacity:0; 
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.active{
  background: #898b8c;
}

button:focus{
  outline: 0 none;
}

.product-grid .mix{
  display: none;
}

