.navbar {
background: none;
margin: auto;
width: 75%;
}

#projects:hover{
border-bottom: 2px solid #FFFFFF;
}

#experience:hover{
border-bottom: 2px solid #FFFFFF;
}

#home:hover{
border-bottom: 2px solid #FFFFFF;
}

#aboutme:hover{
border-bottom: 2px solid #FFFFFF;
}

#contact:hover{
border-bottom: 2px solid #FFFFFF;
}

/*#home{
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}*/
#projects, #experience, #home, #aboutme, #contact {
  display: inline-block;
  text-align: center;
/*  padding-right: 5vw;*/
  line-height: 5vw;
  height: 4vw;
  font-size: 16px;
  text-decoration: none;
  width: 10vw;
  color: #FFFFFF;
}

/*#projects, #subintro {background-color: #E74C3C;}
#experience, #subintro1 {background-color: #F39C12;}
#home, #subintro1 {background-color: blue;}
#aboutme, #subintro2 {background-color: #2980B9;}
#contact, #subintro3 {background-color: #8E44AD;}*/

body, html{
  text-align: center;
  font-family: 'Julius Sans One', serif;
  background-color: #313131;
  margin: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  padding-top: 50px;
}