.navbar {
background-color: #313131;
margin: auto;
width: 100%;
border-bottom: 2px solid #FFFFFF;
}

/*#research:hover{
border-bottom: 2px solid #FFFFFF;
}

#joanne:hover{
border-bottom: 2px solid #FFFFFF;
}

#home:hover{
border-bottom: 2px solid #FFFFFF;
}

#cv:hover{
border-bottom: 2px solid #FFFFFF;
}

#contact:hover{
border-bottom: 2px solid #FFFFFF;
}*/

#joanne{
  display: inline-block;
  text-align: center;
  padding-right: 30vw;
  line-height: 5vw;
  height: 4vw;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  width: 10vw;
  color: #FFFFFF;
}

#publications, #home, #cv {
  display: inline-block;
  text-align: center;
/*  padding-right: 5vw;*/
  line-height: 5vw;
  height: 4vw;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  width: 10vw;
  color: #FFFFFF;
}

/*#projects, #subintro {background-color: #E74C3C;}
#involvement, #subintro1 {background-color: #F39C12;}
#home, #subintro1 {background-color: blue;}
#aboutme, #subintro2 {background-color: #2980B9;}
#contact, #subintro3 {background-color: #8E44AD;}*/

body, html{
  text-align: center;
  font-family: 'Julius Sans One', serif;
  background-color: #313131;
  margin: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  padding-top: 20px;
}