.navbar{
    margin-bottom: 0px;
    font-family: "Arial Narrow", Arial, sans-serif;;
}

.jumbotron h1{
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
  text-transform: uppercase;
  font-size: 64px;
  color: #A9E2F3;
  background-color: #FFFFFF;
}

body,html {
  height: 50%;
} 

}

.jumbotron p {
	margin-left: 10%;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
}

body{
	background-color: #FFFFFF;
}

h1 {
  color: #ECCEF5;
}

.make-me-red {
  color: #9A2EFE;
}

