.navbar{
    margin-bottom: 0px;
}

.jumbotron h1{
    text-align: center;
}

.jumbotron p {
	margin-left: 10%;
}

body{
	background-color: #A9F5F2;
}

h1 {
  color: #ECCEF5;
}

.make-me-red {
  color: #9A2EFE;
}

